# ─────────────────────────────
# Node modules
# ─────────────────────────────
node_modules/

# ─────────────────────────────
# Build outputs
# ─────────────────────────────
dist/
tsconfig.tsbuildinfo

# ─────────────────────────────
# Environment files & secrets
# ─────────────────────────────
.env
backend/invoices-465501-c5f410e84e5f.json

# ─────────────────────────────
# Prisma
# ─────────────────────────────
/generated/prisma
prisma/dev.db

# ─────────────────────────────
# Logs
# ─────────────────────────────
logs/
*.log

# ─────────────────────────────
# IDE/editor settings
# ─────────────────────────────
.vscode/
