# exclude node_modules directory
# This directory contains all the dependencies installed by npm 
node_modules

# Build output directory
dist/

# Keep environment variables out of version control
.env

# Prisma files
/generated/prisma
prisma/dev.db

# Ignore logs
logs
*.logs

# IDE files
.vscode/

